<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sitecore.Utilities.Feature.TemplateCodeGenerator" description="" dependencies="Sitecore.Utilities.Foundation.Serialization.PowerShell">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\TemplateCodeGenerator\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="PowerShell" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/Utilities/TemplateCodeGenerator"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
    <packaging>
      <configuration name="Sitecore.Utilities.Feature.TemplateCodeGenerator.Packaging"
                     unicornConfiguration="Sitecore.Utilities.Feature.TemplateCodeGenerator"
                     version="1.0">
        <unicorn include="*" install="Overwrite"/>
      </configuration>
    </packaging>
  </sitecore>
</configuration>