<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sitecore.Utilities.Feature.CacheViewer" description="" dependencies="Sitecore.Utilities.Foundation.Serialization">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\CacheViewer\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="PowerShell" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/Utilities/CacheViewer"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
    <packaging>
      <configuration name="Sitecore.Utilities.Feature.CacheViewer.Packaging" unicornConfiguration="Sitecore.Utilities.Feature.CacheViewer">
        <unicorn include="*" install="Overwrite"/>
      </configuration>
    </packaging>
  </sitecore>
</configuration>